/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  position: relative;
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
  transition: 300ms;
  border-radius:100%;
  margin: 5px;
  width: 80%;
  height: 80%;
  position: absolute;
  bottom: 0px;
}
.falling
{
  bottom: 500px !important;
}

.player1
{
  background: red;
}
.player2
{
  background: blue;
}

.playerDisplayPiece
{
  height: 15px;
  width: 15px;
  transition: 300ms;
  border-radius:100%;
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
